<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mappers.apitableMapper">
    <select id="getpage" parameterType="hashMap" resultType="apiTableInfo">
        SELECT *
            FROM APITABLEINFO
            WHERE 1=1
            AND IDX <![CDATA[>]]>= #{pageNumber, jdbcType=INTEGER}
            AND IDX <![CDATA[<]]>= #{limitedNumber, jdbcType=INTEGER}
            ORDER BY IDX DESC
    </select>

    <select id="getdetail" resultType="apiTableInfo">
        SELECT *
            FROM APITABLEINFO
            WHERE 1=1
            AND IDX = #{idxnum, jdbcType=INTEGER}
    </select>

    <select id="tablecount" resultType="int">
        SELECT COUNT(IDX)
            FROM APITABLEINFO
    </select>

    <select id="gettablename" resultType="String">
        SELECT TABLENAME
            FROM APITABLEINFO
            WHERE 1=1
            AND UUID = #{uuid}
    </select>
</mapper>